@font-face {
    font-family: "Limelight";
    src: url("../fonts/Limelight.ttf") format("truetype");
  }

  @font-face {
    font-family: "GilSansSha";
    src: url("../fonts/GolSanSha.ttf") format("truetype");
  }

  @font-face {
    font-family: "Henderson";
    src: url("../fonts/henderson-semibold.otf") format("opentype");
  }

  @font-face {
      font-family: "font-awesome";
      src: url("../fonts/fa-brands-400.ttf") format("truetype");
  }

//   Henderon sans (basic regular, semi-bold)
//   limelight
//   Gils Sans T1 shadowed
// 	•	Frutiger 45 light
// 	•	Frutiger 65 bold
// 	•	lato italic
// 	•	lato bold
// 	•	lato