.site-footer {
    color: $lighttan;
    font-size: 1.2rem;
}

.disclaimer {
    color: $lightgray;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.4em;
}

.address {
    font-size: 1.3rem;
    color: #000;
}